.scb-deal-each {
  border: transparent solid 1px;
  border-width: 0px 4px;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 20px;
}
.scb-deal-each:hover,
.scb-deal-each.featured {
  border-color: #ddd;
}
.scb-deal-row {
  width: 100%;
  position: relative;
  background: #fff;
  padding: 10px 0;
  display: table;
  border: #ddd solid 1px;
  border-radius: 4px;
  line-height: 1.2em;
  box-sizing: border-box;
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
.scb-deal-row:before,
.scb-deal-row:after {
  content: "";
  display: table;
}
.scb-deal-row:after {
  clear: both;
}
.scb-col {
  display: table-cell;
  padding: 10px 20px;
  vertical-align: middle;
  width: 25%;
}
.scb-col.scb-center-col {
  width: 50%;
}
.scb-col.scb-left-col {
  border-right: #ddd solid 1px;
}
.caption-holder {
  text-align: center;
  text-transform: uppercase;
}
.caption-holder h3,
.caption-holder h4,
.caption-holder h5 {
  margin: 0;
  white-space: nowrap;
}
h3.scb-coupon-text {
  font-weight: bold;
  font-size: 2.5em;
  line-height: 1.1em;
}
h4.scb-coupon-text-second {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.1em;
}
h5.scb-coupon-type {
  font-weight: normal;
  margin-top: 25px;
}
.scb-coupon-deal-link,
.scb-coupon-code {
  background: #70cbf4;
  border: #41baf0 solid 1px;
  width: 100%;
  padding: 10px 20px;
  display: block;
  text-align: center;
  border-radius: 4px;
  text-decoration: none !important;
  color: #fff !important;
  font-weight: bold;
}
.scb-coupon-code {
  background: #eee;
  color: #70cbf4 !important;
}
.scb-coupon-deal-link:hover {
  background: #41baf0;
}
.scb-coupon-title {
  color: #092a5e;
  text-transform: capitalize;
}
.scb-coupon-terms {
  font-size: 0.9em;
}
.scb-coupon-description .dashicons {
  display: none;
}
.scb-coupon-terms-holder {
  cursor: pointer;
  display: block;
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
.scb-coupon-terms-holder:before,
.scb-coupon-terms-holder:after {
  content: "";
  display: table;
}
.scb-coupon-terms-holder:after {
  clear: both;
}
.scb-coupon-terms-label {
  display: block;
  font-size: 0.8em;
}
.dashicons {
  font-size: inherit;
  width: auto;
  height: auto;
  vertical-align: middle;
}
.dashicons-arrow-up-alt2 {
  cursor: pointer;
}
@media (max-width: 480px) {
  h3.scb-coupon-text {
    font-size: 1.3em;
    line-height: 1.1em;
  }
  h4.scb-coupon-text-second {
    font-size: 1em;
    line-height: 1.1em;
  }
  h5.scb-coupon-type {
    font-size: 0.8em;
    line-height: 1.1em;
  }
  .scb-deal-row {
    padding: 5px;
    display: block;
  }
  .scb-col {
    padding: 5px 10px;
  }
  .scb-col.scb-center-col {
    width: auto;
    font-size: 0.8em;
    line-height: 1.1em;
  }
  .scb-col.scb-right-col {
    display: block;
    width: auto;
    float: none;
    overflow: hidden;
    clear: both;
    margin-top: 5px;
  }
  .scb-coupon-title {
    font-size: 1.1em;
  }
  #theme-container .post-content > .vc_row {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
